<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>80951715317-2mk785fgu9ome78i7bm3tkp0gh7olo2u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80951715317-2mk785fgu9ome78i7bm3tkp0gh7olo2u</string>
	<key>API_KEY</key>
	<string>AIzaSyA-DpnP5XvXz3bD--ZKU3SLo-n-WD9zV04</string>
	<key>GCM_SENDER_ID</key>
	<string>80951715317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.berchon.Pomodoro</string>
	<key>PROJECT_ID</key>
	<string>pomodoro-edada</string>
	<key>STORAGE_BUCKET</key>
	<string>pomodoro-edada.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80951715317:ios:5d88fabb2ae09ddd192cbc</string>
</dict>
</plist>